<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="SistemaFordPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <class>br.com.autooeste.Modelo.NfEntradaItem</class>
    <class>br.com.autooeste.Modelo.Pedido</class>
    <class>br.com.autooeste.Modelo.Grupouser</class>
    <class>br.com.autooeste.Modelo.NfEntrada</class>
    <class>br.com.autooeste.Modelo.RequisicaoEstoque</class>
    <class>br.com.autooeste.Modelo.Item</class>
    <class>br.com.autooeste.Modelo.Funcionario</class>
    <class>br.com.autooeste.Modelo.Endereco</class>
    <class>br.com.autooeste.Modelo.RequisicaoItem</class>
    <class>br.com.autooeste.Modelo.Cotacao</class>
    <class>br.com.autooeste.Modelo.Estoque</class>
    <class>br.com.autooeste.Modelo.PedidoItem</class>
    <class>br.com.autooeste.Modelo.Fornecedor</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="hibernate.connection.username" value="root"/>
      <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
      <property name="hibernate.connection.password" value="root"/>
      <property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/bdford?zeroDateTimeBehavior=convertToNull"/>
    </properties>
  </persistence-unit>
</persistence>
